@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

.header {
  height: 60px;
  width: 100%;
  background-color: #cbe1df;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  .logo {
    height: 100%;
    display: flex;
    outline: none;
    border: none;
    align-items: center;
    background-color: inherit;
    .logo-image {
      height: 100%;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
        height: 80%;
        object-fit: contain;
      }
    }

    .brand-name {
      font-family: "Irish Grover", system-ui;
      font-weight: 400;
      font-style: normal;
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
  }

  .header-button-services {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    .header-btn {
      height: 70%;
      aspect-ratio: 190 / 70;
      font-family: "Irish Grover", system-ui;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      border-radius: 15px;
      outline: none;
      border: black solid 1.5px;

      &:hover {
        filter: brightness(90%);
      }

      &:active {
        filter: brightness(80%);
      }
    }

    .chill-now-btn {
      background-color: #fff985 !important;
    }

    .sign-up-btn {
      background-color: #fd7373 !important;
    }

    .change-language-btn {
      display: flex;
      height: 100%;
      align-items: center;
      background-color: inherit;
      border: none;
      outline: none;

      .language-icon {
        height: 80%;

        object-fit: contain;
      }

      .triangle-icon {
        height: 35%;
      }
    }
  }
}
